/* Notifications */

#notification-panel{
	position: absolute;
	left:50%;
	top:0px;
	margin-left:-3cm;
}

#notification-button > div{
	position: absolute;
	top:-2px;
	right:-4px;
}

#notification-button.active-popup{
	background: rgba(255,255,255,0.9);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#notification-popup{
	z-index:20;
	position: absolute;
	left:3px;
	top:33px;
	min-width:6cm;
	padding:8px;
	background: rgba(255,255,255,0.9);
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.notification-label{
	width:100%;
	text-align:center;
	font-size:13px;
	font-weight:bold;
	padding-bottom:30px;
}

#notification-clear-button{
	position: absolute;
	right:5px;
	top:28px;
}

#notification-send-button{
	position: absolute;
	left:5px;
	top:28px;
}

.notification-item{
	border-top:1px solid #E6E6E6;
	margin-top:5px;
	padding-top:5px;
}

.notification-item-title{
	font-size:10px;
	color: black;
}

.notification-item-title a:first-child{
	font-size:11px;
	color: #4183C4;
}


.notification-item-title span:last-child{
	font-size:11px;
}

.notification-item-message{
	margin-top:3px;
	font-size:12px;
	color: #555555;
}


/*  Send notificaton panel */

#send-notification-panel{
	z-index:21;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-1cm;
	margin-left:-3cm;
	border-radius:10px;
	background: rgba(255,255,255,0.9);
	width:6cm;
	padding:0.3cm;
	box-shadow: 2px 2px 3px #999; 
	-webkit-box-shadow: 2px 2px 3px #999;
}

.notification-close-button{
	float:right;
	margin-right: -30px;
	margin-top: -44px;
}

#send-notification-panel textarea{
	width: 100%;
	resize:none;
	margin:5px 0 5px 0;
}

#send-notification-panel .send-notification-button{
	margin-top:3px;
	float: right;
}

#send-notification-panel .sc-checkbox{
	display: inline-block;
}

#send-notification-panel span{
	display: block;
}

#send-notification-panel .loading-image{
	width:100%;
	text-align:center;
}
