/* search control on the bottom of the screen */
#search-control{
	left:50%;
	margin:0 0 0 -2.25cm;
	bottom:1px;
	width:4.5cm;
	max-height:30%;	
	overflow-x:hidden;
	overflow-y:auto;
	transition:all 0.3s ease-in;
	-webkit-transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
}

#search-control.has-results{
	background: rgba(0,0,0,0.6);
	max-height:40%;	
}

#search-control input{
	width:100%;
}

.search-cat-list{
	font-size:14px;
	padding-top: 10px;
	margin:0;
}

.search-cat-item{
	padding:0.1cm;
	text-align: left;
}

.search-cat-item:hover{
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
}

.search-category-table{
	width:100%;
	margin:0;
	padding:0
	border: none;
	border-spacing: 0px;
	color:white;
}

.search-category-table td{
	vertical-align: middle;
	text-align:right;
}

.cat-size-label{
	max-width: 1.1cm;
}

.cat-title-label{
	max-width: 2.4cm;
}

.search-plugin-item{
	margin-top: 3px;
	color: white;
	padding:0.1cm;
	text-align: center;
	background:gray;
	border-radius: 10px;
}

.search-plugin-item:hover{
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
}

.cat-title-label{
	max-width: 3cm;	
}

/* search results (middle of the screen)*/

#search-result{
	z-index:10;
	position: absolute;
	width:6cm;
	margin-left:-3cm;
	padding:8px;
	top:-100%;
	left:50%;
	transition:top 1s ease-in;
	-webkit-transition:top 1s ease-in;
	-moz-transition:top 1s ease-in;
	background:rgba(0,0,0,0.6);
	border-radius:12px;
}

#search-result.list-visible{
	top:20%;	
}

.search-title-area{
	position: relative;
	width:100%;
	color:white;
	text-align: center;
}

#title-label{
	margin:10px;
	font-size:16px;
}

.search-close-button{
	float: right;
	margin-top: -34px;
	margin-right:-28px;
}

/* 2 fingers scroll on iOS.  iScroll4 can solve it.*/
.search-list-area{
	font-size:14px;
	position:relative;
	width: 100%;
	max-height:6cm;
	overflow-x:hidden;
	overflow-y: auto;
}

.search-list-area.has-results{
}

.search-list-item{
	text-align:right;
	width:100%;
}

.search-list-item > span{
	position:relative;
	bottom:5px;
}

.search-result-list{
	margin:10px;
}

.search-result-list li{
	padding:0 0.5em 0 0.5em;
}

.search-result-list li:hover{
	background: rgba(0,0,0,0.5);
	border-radius:1em;
}

.search-result-table{
	color: white;
	border: none;
	border-spacing: 0px;
}

.search-result-table td{
	vertical-align:middle;
}

.search-title-cell{
	width:100%;
}

.search-select-cell{
	width:32px;
	height:32px;
}

.feature-title-label{
	margin-left:1em;
}



