/*FEATURE INFO*/

.leaflet-popup.info-popup .leaflet-popup-close-button{
	display: none;
}

.leaflet-popup.info-popup .leaflet-popup-content-wrapper{
	background: rgba(0,0,0,0.6);
	box-shadow: none;
}
.leaflet-popup.info-popup .leaflet-popup-tip{
	background: rgba(0,0,0,0.6);
	padding: 0px;
}

.leaflet-popup.info-popup .leaflet-popup-content-wrapper .leaflet-popup-content{
	margin: 0px;
}

.popup-info-table{
	width:100%;
	border: none;
	border-spacing: 0px;
}

.popup-info-table td{
	vertical-align: middle;
	width: 100%;
	max-width:250px;
	color: white;
	white-space: nowrap;
	padding: 0px;
	margin: 0px;
	text-align: right;
}

.popup-info-table td span{
	
}

.more-features-zone{
	margin-top:5px;
}

.popup-info-master-row-table{
	width: 100%;
	border: none;
	border-spacing: 0px;
	margin: 5px 0px;
}

.popup-info-master-row-table td{
	width: 100%;
	vertical-align: middle;
}

.popup-info-item{
	min-width: 80px;
	border-radius: 16px;
	border: none;
	margin: 0px 5px;	
}

.popup-info-item span{	
	margin:0px 5px 0px 10px;
	text-align: right;
}

.popup-info-item:hover{
	background: rgba(0,0,0,0.5);
}

.popup-info-select{
	padding:0px;
	border: none;
	background: none;
	width:32px;
	text-align: right;
}

