.inspector-panel{
	margin: 6px;
	left:0px;
	right: 0px;
	top:0px;
}

.inspector-close-button{
	float:right;
	margin-top:-5px;
	margin-right:-6px;
}

.inspector-title{
	color: white;
	margin: 10px;
	font-size: 20px;
	text-align: center;
}

.inspector-attrs-list{
	margin: 0;
	padding: 0;
}

.inspector-attrs-list li{
	margin: 0;
	padding: 0;
	min-width:150px;
	border-bottom:solid 1px rgb(48,48,48);
	text-align: left;
	background: rgba(0,0,0,0.5);
}

.inspector-attrs-list li > div{
	border-bottom:solid 1px rgb(29,29,29);
}

.inspector-attrs-list li:first-child{
	border-top-left-radius:1em;
	border-top-right-radius:1em;
}

.inspector-attrs-list li:last-child{
	border-bottom-left-radius:1em;
	border-bottom-right-radius:1em;
	border:none;
}

.inspector-attrs-list li:last-child > div{
	border:none;
}


.inspector-list-item{
	padding:1em;
	color: white;
}


.inspector-attr-name{
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	padding-left: 0.5em;
}

.inspector-attr-value{
	font-size: 16px;
	text-align: left;
	padding-left: 1.5em;
}

.inspector-attr-value input{
	margin-right:0.5em;
}
